*{
  box-sizing: border-box;
}
main{
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}
img{
  max-width: 100%;
}
header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
}
header a{
  text-decoration: none;
  color: inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}
header nav{
  display: flex;
  align-items: center;
  gap:15px;
}
div.post{
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin: 30px;
}
div.post div.text h2{
  margin: 0;
  font-size: 1.8rem;
}
div.post p.summery{
  margin:10px 0px;
  line-height: 18px;
}
div.post p.info{
  display: flex;
  gap:8px;
  font-size: 0.9rem;
  margin: 3px;
  color: #444;
}
div.post p.info a.author{
  font-weight: bold;
}
form.login,form.register{
  max-width: 400px;
  margin:0 auto;
}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border:2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
button{
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}
form.login form.register h1{ 
  text-align: center;
}
.createPost{
  margin-top: 10px;
}
